{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
<style media="all">
.mobile-display{display:none}
.desktop-display{display:block}
@media (max-width:800px){
.desktop-display {display:none}
.mobile-display {display:block}
}
</style>

<div class="desktop-display">
  <section class="intro">
    <p>Raymond is my 1.5-year-old puppy. He is a mix of Greenland Sled Dog, Rottweiler, Pitbull, and Alaskan Malamute. He is in training as a psychiatric service dog.</p>
  </section>
  <section class="rays-gallery">
    {{ .Content }}
  </section>
</div>

<div class="mobile-display">
  <section class="intro">
    <p>Raymond is my 1.5-year-old puppy. He is a mix of Greenland Sled Dog, Rottweiler, Pitbull, and Alaskan Malamute. He is in training as a psychiatric service dog.</p>
  </section>
  <section class="rays-gallery">
    <div class="rays-images">
      <img src="/images/raymond/photo15.jpg" alt="Training Camp Feb 2024">
      <img src="/images/raymond/photo14.jpg" alt="Brooklyn Brewery Jan 2024">
      <img src="/images/raymond/photo13.jpg" alt="Santa Costume Dec 2023">
      <img src="/images/raymond/photo12.jpg" alt="Family Christmas Card Nov 2023">
      <img src="/images/raymond/photo11.jpg" alt="Family Turkey Trot Nov 2023">
      <img src="/images/raymond/photo10.jpg" alt="Ray's First Plane Ride Nov 2023">
      <img src="/images/raymond/photo9.jpg" alt="Sleep Chewing Nov 2023">
      <img src="/images/raymond/photo8.jpg" alt="Tompkins Square Park Dog Parade Oct 2023">
      <img src="/images/raymond/photo7.jpg" alt="Tompkins Square Park Dog Parade Oct 2023">
      <img src="/images/raymond/photo6.jpg" alt="Pretty Boy Oct 2023">
      <img src="/images/raymond/photo5.jpg" alt="Callie's Candy Kitchen Oct 2023">
      <img src="/images/raymond/photo4.jpg" alt="Buck Hill Lower Falls Oct 2023">
      <img src="/images/raymond/photo3.jpg" alt="Buck Hill Upper Falls Oct 2023">
      <img src="/images/raymond/photo2.jpg" alt="Our First Photo Together Sept 2023">
      <img src="/images/raymond/photo1.jpg" alt="Welcome Home Raymond! Sept 2023">
    </div>
  </section>
</div>

{{ end }}
