@font-face {
  font-family: 'BrittanySignature';
  src: url('/font/brittanysignature/brittanysignature-webfont.woff2') format('woff2'),
       url('/font/brittanysignature/brittanysignature-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
