{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "academic-header.html" . }}
{{ end }}

{{ define "main" }}

<section class="green-rectangle">
  <div class="current-teaching-header">
    <h2 class="current-teaching-header-text">Current Teaching</h2>
  </div>
</section>

<section class="current-teaching-container">
  <div class="current-teaching-text">
    <h3>New York University</h3>
    <ul>
      <li>MATH-UA 140: Linear Algebra - <a href="https://math.nyu.edu/dynamic/courses/undergrad/math-ua-140/" target="_blank">Spring 2024</a> (sections 12 and 13) <a href="/academic/teaching/linearalgebraresourcesspring2024">Resources Page</a></li>
    </ul>
  </div>
</section>

<section class="green-rectangle">
  <div class="past-teaching-header">
    <h2 class="past-teaching-header-text">Past Teaching</h2>
  </div>
</section>

<section class="past-teaching-container">
  <div class="past-teaching-text">
    <h3>New York University</h3>
    <ul>
      <li>MATH-UA 121: Calculus I - <a href="https://docs.google.com/document/u/0/d/e/2PACX-1vQSV0QK-TP3FCBC7KhxBo38-qvIHSKHE_HMs93wuzM2sWzmk5bKzZQ1PXAhZB-y9nCxQmkRqEVFpJh9/pub?pli=1" target="_blank">Fall 2023</a> (sections 4, 5, 9, and 10) <a href="/academic/teaching/calculus1resourcesfall2023">Resources Page</a></li>
    </ul>
  </div>
</section>

<section class="student-testimonials">
  <div class="student-testimonials-header">
    <h2 class="student-testimonials-header-text">Student Testimonials</h2>
  </div>
  <div class="student-testimonials-text">
    {{ .Content }}
  </div>
</section>

{{ end }}
