@font-face {
  font-family: 'BrittanySignature';
  src: url('/font/brittany-signature/BrittanySignature-regular.woff2') format('woff2'),
       url('/font/brittany-signature/BrittanySignature-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.embedded-pdf {
  margin-top: 50px;
  width: 100%; /* 2/3 of the width */
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
}
