.past-teaching-container {
  display: flex;
  padding-bottom: 0px;
}

.past-teaching-text {
  width: 100%; /* 2/3 of the width */
  font-size: 25px;
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
}

.student-testimonials {
  padding-top: 0px;
}

.student-testimonials-header {
  font-family: 'BrittanySignature';
  font-size: 30px;
  color: #586D53;
  padding-left: 5vw;
  margin-bottom: -20px;
}

.student-testimonials-text {
  width: 100%; /* 2/3 of the width */
  font-size: 25px;
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10px;
}
