{{ define "header" }}{{ partial "homepage-header.html" . }}{{ end }}
{{ define "main" }}


  <section class="green-rectangle" style="background-color: #586D53; color: white; padding-top: 20px; position: relative; padding-left: 5vw;">
    <div class="about-me" style="text-align: left; margin-bottom: 20px; font-family: 'brittany_signatureregular'; font-size: 35px;">
      <h2>About Me</h2>
    </div>
    <div class="content" style="display: flex; text-align: right;">
      <div class="photo" style="width: 35%; position: relative;">
        <img src="/images/about/profilephoto.png" alt="Profile Photo" style="width: 100%; display: block; position: absolute; top: -80px; padding-left: 62vw;">
      </div>
    </div>
  </section>

  <section class="about" style="position: relative; padding-left: 5vw; padding-right: 3vw;">
    <div class="content" style="display: flex;">
      <div class="text" style="width: 65%; font-size: 25px;">
        <!-- Leftmost 2/3 of the width -->
        <p>I’m Sarah, a graduate student at the New York University Courant Institute pursuing a Master of Science in pure mathematics. I am applying to Ph.D. programs and aspire to become a mathematics professor. My research interests include analysis and number theory.<br></p>
        <p>I teach recitations for two sections of Linear Algebra at NYU. In the fall of 2023, I taught recitations for four sections of Calculus I. In addition to leading recitations, this role involves holding office hours, proctoring, and grading. I am beyond grateful to have the opportunity to share my love of math with students. I am passionate about creating inclusive educational spaces that welcome students of all backgrounds, learning styles, and levels of confidence.<br></p>
        <p>In addition to teaching, I have been tutoring math at the undergraduate and high school levels for over four years. I started tutoring virtually through a tutoring agency before setting off on my own to do freelance tutoring. My favorite part of tutoring is helping students find the system for success that is best suited to their needs, then guiding them towards a newfound appreciation for the beauty of math.<br></p>
        <p>I graduated from Tulane University with a Bachelor of Science in Mathematics and Computer Science in May 2023, after only three years of undergraduate study. While at Tulane, I held membership in Kappa Alpha Theta, the Tulane University Choir, and the Community Action Council of Tulane University students. I was also involved in community service as an aftercare volunteer at a local elementary school and as a contributor to a project with the Louisiana Public Health Institute concerning the improvement of sex education statewide.<br></p>
        <p>My personal interests include cooking, baking, guitar, piano, and spending time with my service dog in training, Raymond.</p>
      </div>
    </div>
  </section>

{{ end }}
