@font-face {
  font-family: 'BrittanySignature';
  src: url('/font/brittany-signature/BrittanySignature-regular.woff2') format('woff2'),
       url('/font/brittany-signature/BrittanySignature-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
.desktop-display {display:none;}
.mobile-display {display:block;}
}

.desktop-display .intro {
  width: 100%;
  font-size: 25px;
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: auto;
}

.mobile-display .intro {
  width: 100%;
  font-size: 20px;
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: auto;
}

.rays-gallery {
  width: 80%;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: auto;
}
