@font-face {
  font-family: 'BrittanySignature';
  src: url('/font/brittany-signature/BrittanySignature-regular.woff2') format('woff2'),
       url('/font/brittany-signature/BrittanySignature-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
.desktop-display {display:none;}
.mobile-display {display:block;}
}

.services-text {
  font-size: 20px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.desktop-display .horizontal-line-1 {
  border: none;
  height: 3px;
  background-color: #586D53;
  width: 90vw;
  margin-top: 30px;
}

.mobile-display .horizontal-line-1 {
  border: none;
  height: 3px;
  background-color: #586D53;
  width: 90vw;
  margin-top: 20px;
}

.subjects-tutored-header-text {
  font-family: 'BrittanySignature';
  font-size: 40px;
  color: #586D53;
  text-align: left;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5vw;
}

.desktop-display .boxes {
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 20px;
}

.box {
  flex: 1;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 20px; /* Add margin to create space between boxes */
}

.box h3 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #586D53;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
}
